In [2]:
import os
import json
from openai import BadRequestError
import requests
import random
import pandas as pd
from datasets import Dataset
from tqdm import tqdm
from transformers import (
    RobertaTokenizer,
    RobertaForSequenceClassification,
    Trainer,
    TrainingArguments,
)
import dspy
from llm import get_AI_text_from_sql
from sklearn.metrics import accuracy_score

# Dataset Preparation

In [3]:
path = "wikisql/train.csv"
output_path = "wikisql_sql_to_text_dataset.csv"
finetuned_model_path = "./roberta-finetuned-sql-to-text"

In [4]:
df = pd.read_csv(path)
dataset = Dataset.from_pandas(df)

In [5]:
dataset

Dataset({
    features: ['question', 'sql'],
    num_rows: 56355
})

In [6]:
subset = dataset[:500]

In [7]:
print(subset["question"][0], "===>" ,subset["sql"][0])

Tell me what the notes are for South Australia  ===> SELECT Notes FROM table WHERE Current slogan = SOUTH AUSTRALIA

In [8]:
subset["sql"]

['SELECT Notes FROM table WHERE Current slogan = SOUTH AUSTRALIA',
 'SELECT Current series FROM table WHERE Notes = New series began in June 2011',
 'SELECT Format FROM table WHERE State/territory = South Australia',
 'SELECT Text/background colour FROM table WHERE State/territory = Australian Capital Territory',
 'SELECT COUNT Fleet Series (Quantity) FROM table WHERE Fuel Propulsion = CNG',
 'SELECT Fuel Propulsion FROM table WHERE Fleet Series (Quantity) = 310-329 (20)',
 'SELECT Manufacturer FROM table WHERE Order Year = 1998',
 'SELECT COUNT Manufacturer FROM table WHERE Model = GE40LFR',
 'SELECT COUNT Order Year FROM table WHERE Fleet Series (Quantity) = 468-473 (6)',
 'SELECT Powertrain (Engine/Transmission) FROM table WHERE Order Year = 2000',
 'SELECT Description FROM table WHERE Aircraft = CH-47D Chinook',
 'SELECT Max Gross Weight FROM table WHERE Aircraft = Robinson R-22',
 'SELECT School/Club Team FROM table WHERE No. = 6',
 'SELECT School/Club Team FROM table WHERE Years in Toronto = 2012-present',
 'SELECT School/Club Team FROM table WHERE Years in Toronto = 2010-2012',
 'SELECT Position FROM table WHERE School/Club Team = Baylor',
 'SELECT Player FROM table WHERE Years in Toronto = 1995-96',
 "SELECT No. FROM table WHERE Player = Patrick O'Bryant",
 "SELECT School/Club Team FROM table WHERE Player = Patrick O'Bryant",
 'SELECT COUNT No. FROM table WHERE School/Club Team = Fordham',
 'SELECT School/Club Team FROM table WHERE Years in Toronto = 2001-02',
 'SELECT School/Club Team FROM table WHERE Years in Toronto = 2004-05',
 'SELECT Position FROM table WHERE Player = Loren Woods',
 'SELECT MIN No. FROM table WHERE Years in Toronto = 1998-2001',
 'SELECT Nationality FROM table WHERE School/Club Team = Georgetown',
 'SELECT School/Club Team FROM table WHERE Player = Herb Williams',
 'SELECT Years in Toronto FROM table WHERE School/Club Team = Hawaii',
 'SELECT Years in Toronto FROM table WHERE Player = Dell Curry',
 'SELECT No. FROM table WHERE School/Club Team = Boise State',
 'SELECT Nationality FROM table WHERE Player = Dell Curry',
 'SELECT Player FROM table WHERE School/Club Team = Georgia',
 'SELECT School/Club Team FROM table WHERE Player = Rudy Gay',
 'SELECT Nationality FROM table WHERE Years in Toronto = 1997-98',
 'SELECT Position FROM table WHERE School/Club Team = Connecticut',
 'SELECT Years in Toronto FROM table WHERE Player = Marcus Banks',
 'SELECT Position FROM table WHERE Years in Toronto = 2004',
 'SELECT Nationality FROM table WHERE Player = Muggsy Bogues',
 'SELECT Years in Toronto FROM table WHERE Player = Lonny Baxter',
 'SELECT COUNT Player FROM table WHERE School/Club Team = La Salle',
 'SELECT Best finish FROM table WHERE Scoring rank = 117',
 'SELECT 2nd FROM table WHERE Best finish = T69',
 'SELECT COUNT Wins FROM table WHERE Money list rank = 183',
 'SELECT Scoring average FROM table WHERE Money list rank = n/a',
 'SELECT MAX 2nd FROM table',
 'SELECT MIN Season FROM table WHERE Team = MetroStars',
 'SELECT College FROM table WHERE Team = Columbus Crew',
 'SELECT COUNT Team FROM table WHERE Draft Pick # = 1',
 'SELECT Position FROM table WHERE Draft Pick # = 10',
 'SELECT Years Played FROM table WHERE Singles W-L = 3–2',
 'SELECT Doubles W-L FROM table WHERE Player = Seol Jae-Min (none)',
 'SELECT Singles W-L FROM table WHERE Player = Kim Doo-Hwan',
 'SELECT COUNT Singles W-L FROM table WHERE Doubles W-L = 0–0 AND Total W-L = 3–1',
 'SELECT Doubles W-L FROM table WHERE Years Played = 1 (1968)',
 'SELECT Years Played FROM table WHERE Player = Im Chung-Yang',
 'SELECT Name FROM table WHERE Crest length (meters) = 375',
 'SELECT MIN Year of construction FROM table WHERE Name = Spitallamm',
 'SELECT Canton FROM table WHERE Name = Grande Dixence',
 'SELECT Name FROM table WHERE Name of the Lake = Lago di Luzzone',
 'SELECT Guardian Mātṛkā FROM table WHERE Consort = Svāhā',
 'SELECT Direction FROM table WHERE Mantra = Oṃ Yaṃ Vāyuve Namaḥ',
 'SELECT Weapon FROM table WHERE Consort = Śacī',
 'SELECT Direction FROM table WHERE Weapon = Khaḍga (sword)',
 'SELECT Weapon FROM table WHERE Direction = East',
 'SELECT Direction FROM table WHERE Graha (Planet) = Bṛhaspati (Jupiter)',
 'SELECT MAX Chapters FROM table WHERE Classification = Fraternity AND Headquarters = Austin, Texas',
 'SELECT Member FROM table WHERE Classification = Sorority',
 'SELECT Member FROM table WHERE Chapters = 12',
 'SELECT Headquarters FROM table WHERE Member = Alpha Nu Omega',
 'SELECT MIN Relapsing fever FROM table WHERE Malaria = 3000',
 'SELECT Typhoid fever FROM table WHERE Year = 1934',
 'SELECT Typhus FROM table WHERE Smallpox = 4',
 'SELECT MAX Smallpox FROM table WHERE Typhoid fever = 293',
 'SELECT Typhoid fever FROM table WHERE Year = 1929',
 'SELECT COUNT Founded FROM table WHERE Location = Bloomington, IN',
 'SELECT COUNT Location FROM table WHERE Affiliation = Private/Presbyterian',
 'SELECT MIN Founded FROM table WHERE School = Lindenwood University',
 'SELECT COUNT Primary conference FROM table WHERE Location = Ames, IA',
 'SELECT Capital ( endonym ) FROM table WHERE Capital ( exonym ) = Douglas',
 'SELECT COUNT Country ( endonym ) FROM table WHERE Capital ( endonym ) = Jakarta',
 'SELECT Country ( exonym ) FROM table WHERE Official or native language(s) (alphabet/script) = Icelandic',
 'SELECT Country ( endonym ) FROM table WHERE Official or native language(s) (alphabet/script) = Irish English',
 'SELECT Country ( exonym ) FROM table WHERE Country ( endonym ) = Isle of Man Ellan Vannin',
 'SELECT COUNT Network FROM table WHERE Season premiere = September 11, 2000',
 'SELECT Ranking FROM table WHERE Season finale = May 8, 2006',
 'SELECT MIN Population Canada 2011 Census FROM table WHERE Seat of RCM = Cowansville',
 'SELECT Land Area FROM table WHERE Seat of RCM = Granby',
 'SELECT Population FROM table WHERE County = County Mayo AND English name = Carrowteige',
 'SELECT Irish name FROM table WHERE Irish speakers = 62%',
 'SELECT Population FROM table WHERE Irish name = Leitir Mealláin',
 'SELECT County FROM table WHERE Irish name = Carna',
 'SELECT COUNT English name FROM table WHERE Irish speakers = 53% AND County = County Kerry',
 'SELECT Population FROM table WHERE English name = Spiddal',
 'SELECT MIN Chinese FROM table WHERE Filipino = 1474707',
 'SELECT COUNT Filipino FROM table WHERE Indian = 30947',
 'SELECT MAX Indian FROM table',
 'SELECT Australian role FROM table WHERE UN Operation name = UNAMA',
 'SELECT UN Operation title FROM table WHERE UN Operation name = UNCOK',
 'SELECT COUNT Number of Australians involved FROM table WHERE UN Operation title = UN Commission on Korea',
 'SELECT Dates of Australian involvement FROM table WHERE Number of Australians involved = 65',
 'SELECT TV season FROM table WHERE Viewers (millions) = 10.73',
 'SELECT TV season FROM table WHERE Rank = 39',
 'SELECT COUNT Season premiere FROM table WHERE Viewers (millions) = 10.17',
 'SELECT TV season FROM table WHERE Season = 12',
 'SELECT Avg. Finish FROM table WHERE Year = 2012',
 'SELECT MIN Wins FROM table WHERE Year = 1983',
 'SELECT COUNT Top 10 FROM table WHERE Avg. Start = 29.4',
 'SELECT MAX Poles FROM table WHERE Avg. Finish = 19.1',
 'SELECT MIN Starts FROM table WHERE Team(s) = Hendrick Motorsports',
 'SELECT Player FROM table WHERE Position = Centre AND NHL team = Florida Panthers',
 'SELECT Player FROM table WHERE NHL team = San Jose Sharks AND Nationality = United States',
 'SELECT Position FROM table WHERE Player = Mark Polak',
 'SELECT NHL team FROM table WHERE Position = Centre AND Pick < 243.0',
 'SELECT College/junior/club team FROM table WHERE NHL team = St. Louis Blues',
 'SELECT NHL team FROM table WHERE College/junior/club team = TPS (Finland)',
 'SELECT College/junior/club team FROM table WHERE Player = Doug Nolan',
 'SELECT College/junior/club team FROM table WHERE Player = Per Gustafsson',
 'SELECT Nationality FROM table WHERE Player = Shayne Wright',
 'SELECT Southern England FROM table WHERE Northern Ireland = 3',
 'SELECT MIN Scotland FROM table',
 'SELECT COUNT Scotland FROM table WHERE Total = 35',
 'SELECT Northern Ireland FROM table WHERE Total = 35',
 'SELECT MIN Wales FROM table WHERE Northern England = 6',
 'SELECT Team(s) FROM table WHERE Top 5 = 9 AND Wins = 1',
 'SELECT College/junior/club team FROM table WHERE Player = Vadim Sharifijanov',
 'SELECT Position FROM table WHERE NHL team = Hartford Whalers',
 'SELECT MIN Pick FROM table WHERE Player = Brett Lindros',
 'SELECT Position FROM table WHERE College/junior/club team = Molot Perm (Russia)',
 'SELECT Nationality FROM table WHERE NHL team = New York Islanders',
 'SELECT Vacator FROM table WHERE District = Louisiana 1st',
 'SELECT Notation FROM table WHERE Crystal structure = Tetragonal AND Formula = Bi 2 Sr 2 CaCu 2 O 8',
 'SELECT No. of Cu-O planes in unit cell FROM table WHERE Formula = Tl 2 Ba 2 CuO 6',
 'SELECT Crystal structure FROM table WHERE Formula = YBa 2 Cu 3 O 7',
 'SELECT COUNT T c (K) FROM table WHERE Notation = Tl-2212',
 'SELECT COUNT 2010 Est. FROM table WHERE City = Cremona',
 'SELECT MIN 2001 Census FROM table WHERE Region = Abruzzo AND 1981 Census > 51092.0',
 'SELECT MAX 1991 Census FROM table WHERE City = Carpi',
 'SELECT COUNT 2001 Census FROM table WHERE # = 13',
 'SELECT 1981 Census FROM table WHERE City = Livorno',
 'SELECT NHL team FROM table WHERE Player = Mike Loach',
 'SELECT NHL team FROM table WHERE Player = Peter Strom',
 'SELECT College/junior/club team FROM table WHERE Player = Keith McCambridge',
 'SELECT COUNT Nationality FROM table WHERE Pick = 193',
 'SELECT Successor FROM table WHERE Date of successors formal installation = November 8, 1978',
 'SELECT COUNT Tonioli FROM table WHERE Goodman = 10',
 'SELECT Goodman FROM table WHERE Total = 31 AND Horwood = 7 AND Result = Safe',
 'SELECT Dixon FROM table WHERE Dance/song = Samba / Young Hearts Run Free AND Result = Second place',
 'SELECT COUNT Goodman FROM table WHERE Result = Second place AND Dance/song = Samba / Young Hearts Run Free',
 'SELECT Year Built FROM table WHERE No. Built = 7',
 'SELECT we two FROM table WHERE Case/Suffix = loc.',
 'SELECT them two (the two) FROM table WHERE we two = ngalbelpa',
 'SELECT them two (the two) FROM table WHERE you and I = ngœbalngu',
 'SELECT who-two FROM table WHERE you and I = ngœban',
 'SELECT we two FROM table WHERE you two = ngipen',
 'SELECT who-two FROM table WHERE you two = ngipelngu',
 'SELECT Points FROM table WHERE Driver = Mark Martin',
 'SELECT Points FROM table WHERE Driver = Rusty Wallace',
 'SELECT COUNT Position FROM table WHERE Driver = Robby Gordon',
 'SELECT MAX Position FROM table WHERE Winnings = $50,000',
 'SELECT Actors Name FROM table WHERE Film Name = Anastasiya Slutskaya',
 'SELECT Nomination FROM table WHERE Film Name = Falling Up',
 'SELECT Actors Name FROM table WHERE Film Name = Chopin: Desire for Love AND Nomination = Best Actress in a Leading Role',
 'SELECT Actors Name FROM table WHERE Film Name = Chopin: Desire for Love AND Nomination = Best Actress in a Leading Role',
 'SELECT Film Name FROM table WHERE Actors Name = Alla Sergiyko',
 'SELECT Nomination FROM table WHERE Film Name = 27 Stolen Kisses',
 'SELECT Actors Name FROM table WHERE Nomination = Best Actor in a Supporting Role AND Country = Serbia',
 'SELECT Country FROM table WHERE Actors Name = Vsevolod Shilovskiy',
 'SELECT Nomination FROM table WHERE Film Name = Totalitarian Romance',
 'SELECT Nomination FROM table WHERE Director = Srdjan Dragojevic',
 'SELECT Actors Name FROM table WHERE Country = Ukraine',
 'SELECT Film Name FROM table WHERE Director = Vadim Ilyenko',
 'SELECT Actors Name FROM table WHERE Director = Vadim Ilyenko',
 'SELECT Actors Name FROM table WHERE Film Name = Fuchzhou AND Nomination = Best Non-Professional Actor',
 'SELECT Film Name FROM table WHERE Director = Michaylo Ilyenko AND Nomination = Best Actor in a Supporting Role',
 'SELECT Actors Name FROM table WHERE Nomination = Best Debut',
 'SELECT COUNT Nomination FROM table WHERE Actors Name = Natalia Raskokoha',
 'SELECT MAX Total Goals FROM table',
 'SELECT MIN FA Cup Goals FROM table WHERE FA Cup Apps = 9',
 'SELECT MIN Total Goals FROM table',
 'SELECT Circuit FROM table WHERE Fastest Lap = Hideki Mutoh',
 'SELECT MIN Production code FROM table WHERE Title = "Foreign Exchange Problem / Turn About"',
 'SELECT Episode # FROM table WHERE Title = "The Yindianapolis 500 / Personality Problem"',
 'SELECT Episode # FROM table WHERE Production code = 227',
 'SELECT Directed by FROM table WHERE Written by = Sib Ventress / Aydrea ten Bosch',
 'SELECT Production code FROM table WHERE Title = "Skirting the Issue / Moon Over my Yinnie"',
 'SELECT MAX Total Goals FROM table',
 'SELECT COUNT Temp (°C) FROM table WHERE Adhesive Type = Acryl',
 'SELECT COUNT Opponents FROM table WHERE Partner = Jim Pugh',
 'SELECT Score FROM table WHERE Partner = Jim Pugh',
 'SELECT COUNT Surface FROM table WHERE Score = 3–6, 7–6(5), 6–3',
 'SELECT Score FROM table WHERE Partner = Jim Pugh',
 'SELECT Year FROM table WHERE Championship = Wimbledon (2)',
 'SELECT Score FROM table WHERE Opponents = Gretchen Magers Kelly Jones',
 'SELECT COUNT Date of birth FROM table WHERE Representative = Earl Hanley Beshlin',
 'SELECT Party FROM table WHERE Date of birth = November 10, 1880',
 'SELECT Representative FROM table WHERE Date of birth = January 31, 1866',
 'SELECT Singles W–L FROM table WHERE Player = Laurynas Grigelis',
 'SELECT Current singles ranking FROM table WHERE Player = Mantas Bugailiškis',
 'SELECT COUNT 1999 Broadway FROM table WHERE Character = Mrs. Darling',
 'SELECT 1990 Broadway FROM table WHERE Character = Peter Pan',
 'SELECT 1991 Broadway FROM table WHERE 1999 Broadway = Barbara McCulloh',
 'SELECT 1990 Broadway FROM table WHERE 1955 broadcast = Tom Halloran',
 'SELECT Character FROM table WHERE 1998 Broadway = Drake English',
 'SELECT Broadcast date FROM table WHERE BBC One total viewing > 11616996.338225884',
 'SELECT COUNT Year FROM table WHERE BBC One Rank = 20th',
 'SELECT MIN Year FROM table WHERE BBC Two total viewing = 7,530,000',
 'SELECT COUNT ↓ Function / Genus → FROM table WHERE Escherichia = EspD',
 'SELECT Salmonella FROM table WHERE Escherichia = EspD',
 'SELECT ↓ Function / Genus → FROM table WHERE Shigella = Spa32',
 'SELECT Salmonella FROM table WHERE Shigella = IpgC',
 'SELECT Salmonella FROM table WHERE Escherichia = SepB (EscN)',
 'SELECT Shigella FROM table WHERE Yersinia = YscP',
 'SELECT COUNT Original title FROM table WHERE Film title used in nomination = Marriage Italian-Style',
 'SELECT Year (Ceremony) FROM table WHERE Original title = La leggenda del santo bevitore',
 'SELECT Camp FROM table WHERE Estimated deaths = 600,000',
 'SELECT Operational FROM table WHERE Camp = Sajmište',
 'SELECT Estimated deaths FROM table WHERE Operational = 17 March 1942 – end of June 1943',
 'SELECT Current country of location FROM table WHERE Operational = Summer of 1941 to 28 June 1944',
 'SELECT Occupied territory FROM table WHERE Estimated deaths = 600,000',
 'SELECT Occupied territory FROM table WHERE Operational = May 1940 – January 1945',
 'SELECT Overall FROM table WHERE College = Traded to the Cleveland Browns',
 'SELECT Round FROM table WHERE Overall = 240',
 'SELECT MIN Overall FROM table WHERE College = Youngstown State',
 'SELECT Position FROM table WHERE Overall = 255',
 'SELECT Player name FROM table WHERE Round = 17',
 'SELECT MAX Attendance FROM table WHERE Record = 7-3',
 'SELECT Opponent FROM table WHERE Record = 9-4',
 'SELECT Record FROM table WHERE Game = 8',
 'SELECT MAX Round FROM table WHERE Player name = Steve Stonebreaker',
 'SELECT MIN Choice FROM table',
 'SELECT Choice FROM table WHERE Player name = Bill Hill',
 'SELECT Player name FROM table WHERE Position = Quarterback',
 'SELECT College FROM table WHERE Player name = Keith Hartwig',
 'SELECT Player name FROM table WHERE Position = Linebacker AND College = Illinois',
 'SELECT MAX Round FROM table WHERE Overall = 83',
 'SELECT Round FROM table WHERE Player name = Tommy Kramer',
 'SELECT Overall FROM table WHERE College = Rice',
 'SELECT MIN Round FROM table WHERE Position = Defensive Back',
 'SELECT MIN Overall FROM table WHERE Player name = Bruce Cerone',
 'SELECT Player name FROM table WHERE College = Emporia State',
 'SELECT MAX Choice FROM table',
 'SELECT College FROM table WHERE Player name = Bill Cappleman',
 'SELECT Bullet Tip Color FROM table WHERE Headstamp ID = H2',
 'SELECT Other Features FROM table WHERE Functional Type = Light Ball',
 'SELECT COUNT Primer Annulus Color FROM table WHERE Bullet Tip Color = White',
 'SELECT COUNT Bullet Tip Color FROM table WHERE Other Features = Blue band on case base',
 'SELECT MIN Touchdowns FROM table WHERE Completion % = 56.0',
 'SELECT Completions FROM table WHERE Games started = 12',
 'SELECT COUNT Yards FROM table WHERE Attempts = 348',
 'SELECT COUNT London FROM table WHERE US Tour = Babs Rubenstein',
 'SELECT Toronto / Broadway FROM table WHERE UK Tour = n/a',
 'SELECT COUNT London FROM table WHERE Character = Frank',
 'SELECT Class AAA FROM table WHERE School Year = 2000-01',
 'SELECT Class AAA FROM table WHERE Class A = (tie) Apple Springs/Texline',
 'SELECT Class AAAAA FROM table WHERE School Year = 1995-96',
 'SELECT Class AAA FROM table WHERE Class AAAAA = Brownsville Pace',
 'SELECT COUNT Class AA FROM table WHERE Class AAA = White Oak',
 'SELECT COUNT Team record FROM table WHERE Date = Friday, May 25',
 'SELECT COUNT Opponent FROM table WHERE Date = Saturday, June 9',
 'SELECT MIN Week FROM table WHERE Game site = Commerzbank-Arena',
 'SELECT Original air date FROM table WHERE Setting = 1544',
 'SELECT COUNT Setting FROM table WHERE No. in series = 29',
 'SELECT Written by FROM table WHERE Setting = Winter 1541/February 13, 1542',
 'SELECT No. in season FROM table WHERE Title = "The Northern Uprising"',
 'SELECT Track title FROM table WHERE Duration = 5:30',
 'SELECT Album name FROM table WHERE Track title = Sweetness 甜甜的 (Tián tián de)',
 'SELECT Duration FROM table WHERE Major instrument(s) = Piano AND Date = 2004-02-03',
 'SELECT COUNT Lyricist FROM table WHERE Lyrics theme/style = Romance AND Duration = 3:50',
 'SELECT Major instrument(s) FROM table WHERE Duration = 4:32',
 'SELECT COUNT Music genre/style FROM table WHERE Lyrics theme/style = Detective story',
 'SELECT Playoffs FROM table WHERE League = USL Pro Select League',
 'SELECT COUNT Division FROM table WHERE Open Cup = 1st Round',
 'SELECT Team FROM table WHERE Series = Formula Renault 2.0 NEC',
 'SELECT COUNT Poles FROM table WHERE Team = Arden International',
 'SELECT COUNT Wins FROM table WHERE Series = GP2 Series AND Team = Racing Engineering',
 'SELECT COUNT Podiums FROM table WHERE Season = 2010 AND Series = Campionato Italiano Superstars',
 'SELECT Podiums FROM table WHERE Points = 144',
 'SELECT COUNT Writer FROM table WHERE US air date = September 25, 1993',
 'SELECT COUNT Villains FROM table WHERE No. = 25',
 'SELECT MAX Year FROM table WHERE Regular Season = 4th, Northwest',
 'SELECT COUNT Playoffs FROM table WHERE Regular Season = 6th, Southwest',
 'SELECT MAX Division FROM table',
 'SELECT League FROM table WHERE Regular Season = 2nd, Northwest',
 'SELECT Regular Season FROM table WHERE Year = 2011',
 'SELECT COUNT Title FROM table WHERE # = 11',
 'SELECT COUNT No. FROM table WHERE Villains = Mrs. Briar',
 'SELECT COUNT No. FROM table WHERE # = 8',
 'SELECT COUNT # FROM table WHERE Title = "The Tale of the Room for Rent"',
 'SELECT Title FROM table WHERE Storyteller = Kiki AND Director = Will Dixon',
 'SELECT Storyteller FROM table WHERE Title = "The Tale of the Jagged Sign"',
 'SELECT Writer FROM table WHERE # = 3',
 'SELECT Villains FROM table WHERE Title = "The Tale of The Forever Game"',
 'SELECT COUNT Villains FROM table WHERE Title = "The Tale of The Virtual Pets"',
 'SELECT Villains FROM table WHERE Storyteller = Megan AND Director = Lorette LeBlanc',

In [ ]:
ai_generated = []
human_labeled = []
for question, sql in tqdm(zip(subset["question"], subset["sql"]), desc="Generating AI-like sentences"):
    if question.strip():
        try:
            ai_version = get_AI_text_from_sql(sql=sql)["text"]

            # if the generated sentence is not empty, add it
            if ai_version.strip():
                human_labeled.append((question, 0))
                ai_generated.append((ai_version, 1))
                print("Question: ", question, "\nAI version: ", ai_version)
        except BadRequestError:
            print("Skipping bad request")

In [ ]:
dataset = [item for pair in zip(human_labeled, ai_generated) for item in pair]
# random.shuffle(full_dataset)

df = pd.DataFrame(dataset, columns=["text", "label"])
df.to_csv(output_path, index=False)
print(f"Saved dataset to {output_path}")

In [10]:
df = pd.read_csv(output_path)
dataset = Dataset.from_pandas(df)

# Model Training

In [11]:
tokenizer = RobertaTokenizer.from_pretrained("roberta-base-openai-detector")
model = RobertaForSequenceClassification.from_pretrained(
    "roberta-base-openai-detector"
)
model.config.id2label = {0: "Human", 1: "AI"}
model.config.label2id = {"Human": 0, "AI": 1}

# Freeze all layers except the classification head
for param in model.roberta.parameters():
    param.requires_grad = False

def tokenize_fn(batch):
    return tokenizer(
        batch["text"], truncation=True, padding="max_length", max_length=128
    )

def compute_metrics(eval_pred):
    logits, labels = eval_pred
    predictions = logits.argmax(axis=-1)
    acc = accuracy_score(labels, predictions)
    return {"accuracy": acc}

tokenized_dataset = dataset.map(tokenize_fn, batched=True)
tokenized_dataset = tokenized_dataset.train_test_split(test_size=0.1)

training_args = TrainingArguments(
    output_dir=finetuned_model_path,
    per_device_train_batch_size=16,
    per_device_eval_batch_size=16,
    num_train_epochs=10,
    learning_rate=1e-3,
    warmup_steps=57,
    lr_scheduler_type="linear",
    eval_strategy="epoch",
    save_strategy="epoch",
    logging_strategy="epoch",
    logging_dir=f"{finetuned_model_path}/logs",
    load_best_model_at_end=True,
    push_to_hub=True,
    hub_model_id="nerzid/roberta-base-openai-detector-text2sql-approach-2",
)

Some weights of the model checkpoint at roberta-base-openai-detector were not used when initializing RobertaForSequenceClassification: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
- This IS expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

Map:   0%|          | 0/1000 [00:00<?, ? examples/s]

In [12]:
model

RobertaForSequenceClassification(
  (roberta): RobertaModel(
    (embeddings): RobertaEmbeddings(
      (word_embeddings): Embedding(50265, 768, padding_idx=1)
      (position_embeddings): Embedding(514, 768, padding_idx=1)
      (token_type_embeddings): Embedding(1, 768)
      (LayerNorm): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
      (dropout): Dropout(p=0.1, inplace=False)
    )
    (encoder): RobertaEncoder(
      (layer): ModuleList(
        (0-11): 12 x RobertaLayer(
          (attention): RobertaAttention(
            (self): RobertaSdpaSelfAttention(
              (query): Linear(in_features=768, out_features=768, bias=True)
              (key): Linear(in_features=768, out_features=768, bias=True)
              (value): Linear(in_features=768, out_features=768, bias=True)
              (dropout): Dropout(p=0.1, inplace=False)
            )
            (output): RobertaSelfOutput(
              (dense): Linear(in_features=768, out_features=768, bias=True)
              (LayerNorm): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
              (dropout): Dropout(p=0.1, inplace=False)
            )
          )
          (intermediate): RobertaIntermediate(
            (dense): Linear(in_features=768, out_features=3072, bias=True)
            (intermediate_act_fn): GELUActivation()
          )
          (output): RobertaOutput(
            (dense): Linear(in_features=3072, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
      )
    )
  )
  (classifier): RobertaClassificationHead(
    (dense): Linear(in_features=768, out_features=768, bias=True)
    (dropout): Dropout(p=0.1, inplace=False)
    (out_proj): Linear(in_features=768, out_features=2, bias=True)
  )
)

In [13]:
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=tokenized_dataset["train"],
    eval_dataset=tokenized_dataset["test"],
    compute_metrics=compute_metrics,
    tokenizer=tokenizer,
)

C:\Users\erenc\AppData\Local\Temp\ipykernel_10168\312327739.py:1: FutureWarning: `tokenizer` is deprecated and will be removed in version 5.0.0 for `Trainer.__init__`. Use `processing_class` instead.
  trainer = Trainer(

In [14]:
trainer.train()

TrainOutput(global_step=570, training_loss=0.6180430997881973, metrics={'train_runtime': 134.6456, 'train_samples_per_second': 66.842, 'train_steps_per_second': 4.233, 'total_flos': 591999874560000.0, 'train_loss': 0.6180430997881973, 'epoch': 10.0})

In [15]:
model.save_pretrained(finetuned_model_path)
tokenizer.save_pretrained(finetuned_model_path)
print(f"Fine-tuned model saved at {finetuned_model_path}")

Fine-tuned model saved at ./roberta-finetuned-sql-to-text

In [16]:
trainer.push_to_hub()

model.safetensors:   0%|          | 0.00/499M [00:00<?, ?B/s]

CommitInfo(commit_url='https://huggingface.co/nerzid/roberta-base-openai-detector-text2sql-approach-2/commit/16ee39d781fc06c7a0ec080b88211bdec777c437', commit_message='End of training', commit_description='', oid='16ee39d781fc06c7a0ec080b88211bdec777c437', pr_url=None, repo_url=RepoUrl('https://huggingface.co/nerzid/roberta-base-openai-detector-text2sql-approach-2', endpoint='https://huggingface.co', repo_type='model', repo_id='nerzid/roberta-base-openai-detector-text2sql-approach-2'), pr_revision=None, pr_num=None)